---
import CodeIcon from "@/components/icons/Code.astro";
import GitHub from "@/components/icons/GitHub.astro";
import Link from "@/components/icons/Link.astro";
import LinkButton from "@/components/LinkButton.astro";
import Tailwind from "@/components/icons/Tailwind.astro";
import React from "@/components/icons/React.astro";
import Micronaut from "@/components/icons/Micronaut.astro";
import AWS from "@/components/icons/AWS.astro";
import Vercel from "./icons/Vercel.astro";
import Flutter from "./icons/Flutter.astro";
import NestJS from "./icons/NestJS.astro";
import MariaDB from "./icons/MariaDB.astro";
import MongoDB from "./icons/MongoDB.astro";
import SQLite from "./icons/SQLite.astro";
import Sentry from "./icons/Sentry.astro";
import Firebase from "./icons/Firebase.astro";
import GraphQL from "./icons/GraphQL.astro";
import Figma from "./icons/Figma.astro";
import Stripe from "./icons/Stripe.astro";

interface Tag {
    // Nombre de la etiqueta
    name: string;
    // Clase de color de la etiqueta
    class: string;
    // Clase de color del icono
    classIcon?: string;
    // Icono de la etiqueta
    icon: any;
}

interface Project {
    // Título del proyecto
    title: string;
    // Descripción del proyecto
    description: string;
    // Este proyecto fue desarrollado en: (Nombre del Trabajo, Freelance, Personal, etc)
    work?: string;
    // Id del trabajo para enlazar con la sección de experiencia
    workId?: string;
    // Enlace al proyecto
    link?: string;
    // Enlace al repositorio del proyecto
    github?: string;
    // Imagen del proyecto
    image: string;
    // Etiquetas de tecnologías utilizadas
    tags: Tag[];
}

const TAGS = {
    AWS: {
        name: "AWS",
        class: "bg-[#232F3E] text-white",
        icon: AWS,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
    },
    REACT: {
        name: "React",
        class: "bg-[#227086] text-white",
        classIcon: "text-[#00D8FF]",
        icon: React,
    },
    REACT_NATIVE: {
        name: "React Native",
        class: "bg-[#227086] text-white",
        classIcon: "text-[#61DAFB]",
        icon: React,
    },
    MICRONAUT: {
        name: "Micronaut",
        class: "bg-[#000] text-white",
        icon: Micronaut,
    },
    VERCEL: {
        name: "Vercel",
        class: "bg-[#000] text-white",
        icon: Vercel,
    },
    FLUTTER: {
        name: "Flutter",
        class: "bg-[#002C52] text-white",
        icon: Flutter,
    },
    GRAPHQL: {
        name: "GraphQL",
        class: "bg-[#E535AB] text-white",
        icon: GraphQL,
    },
    NESTJS: {
        name: "NestJS",
        class: "bg-[#661226] text-white",
        icon: NestJS,
    },
    FIREBASE: {
        name: "Firebase",
        class: "bg-[#775C08] text-white",
        icon: Firebase,
    },
    SENTRY: {
        name: "Sentry",
        class: "bg-[#362D59] text-white",
        icon: Sentry,
    },
    FIGMA: {
        name: "Figma",
        class: "bg-[#5C1E0B] text-white",
        icon: Figma,
    },
    MARIA_DB: {
        name: "MariaDB",
        class: "bg-[#003545] text-white",
        icon: MariaDB,
    },
    MONGODB: {
        name: "MongoDB",
        class: "bg-[#13AA52] text-white",
        icon: MongoDB,
    },
    SQLITE: {
        name: "SQLite",
        class: "bg-[#003B57] text-white",
        icon: SQLite,
    },
    STRIPE: {
        name: "Stripe",
        class: "bg-[#6772E5] text-white",
        icon: Stripe,
    },
};

const PROJECTS: Project[] = [
    {
        title: "TrackCash App",
        description:
            "Aplicación móvil para la administración y control de las bolsas de valores utilizadas en los vuelos, la cual te permite registrar bolsas.",
        work: "IDEO Software",
        workId: "ideo",
        link: "https://play.google.com/store/apps/details?id=com.ideosoftware.trackcash",
        image: "/projects/trackcash.webp",
        tags: [TAGS.REACT_NATIVE, TAGS.SQLITE, TAGS.FIREBASE, TAGS.SENTRY, TAGS.MICRONAUT, TAGS.AWS],
    },
    {
        title: "TrackCash Web",
        description:
            "Aplicación web para la administración de la información registrada en la aplicación móvil TrackCash, la cual te permite visualizar, editar, filtrar y exportar la información.",
        work: "IDEO Software",
        workId: "ideo",
        image: "/projects/trackcash-web.webp",
        tags: [TAGS.REACT, TAGS.SENTRY, TAGS.MICRONAUT, TAGS.MARIA_DB, TAGS.AWS],
    },
    {
        title: "Casa-U App",
        description: "Aplicación móvil estilo AirBnB",
        work: "Freelance",
        image: "/projects/casau-app.webp",
        tags: [TAGS.FLUTTER, TAGS.STRIPE, TAGS.NESTJS, TAGS.MARIA_DB, TAGS.FIGMA],
    },
    {
        title: "Starlight Economy Web",
        description:
            "Página web del bot de Discord Starlight Economy, la cual te permite visualizar la información de los usuarios, servidores y comandos, además de poder invitar al bot a tu servidor y configurar el bot dentro de tu servidor.",
        work: "Personal",
        link: "https://starlight-economy.vercel.app/",
        github: "https://github.com/StarArmyDev/sl-economy-web",
        image: "/projects/sl-economy-web.webp",
        tags: [TAGS.REACT, TAGS.MONGODB, TAGS.GRAPHQL, TAGS.VERCEL],
    },
];
---

<h2 class='text-2xl font-semibold flex gap-x-3 mb-2 items-center text-gray-900 dark:text-white'>
    <CodeIcon class='size-4 md:size-6' />
    Proyectos
</h2>

<div class='grid gap-4 mt-4'>
    {
        PROJECTS.map((project) => (
            <article class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0'>
                <div class='w-full md:w-1/2'>
                    <div class='relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50'>
                        <img
                            alt=''
                            src={project.image}
                            alt={project.title}
                            class='object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105'
                            loading='lazy'
                        />
                    </div>
                </div>
                <div class='w-full md:w-1/2 md:max-w-lg'>
                    <h3 class='text-2xl font-bold text-gray-800 dark:text-gray-100'>{project.title}</h3>

                    {project.work &&
                        (project.workId?.length ? (
                            <a class='flex flex-wrap mt-2' href={`/#${project.workId}`}>
                                <span class='text-sm px-3 py-1 rounded-full bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-200'>
                                    {project.work}
                                </span>
                            </a>
                        ) : (
                            <span class='text-sm px-3 py-1 rounded-full bg-gray-200 text-gray-800 dark:bg-gray-800 dark:text-gray-200'>
                                {project.work}
                            </span>
                        ))}

                    <div class='mt-2 text-gray-700 dark:text-gray-400'>{project.description}</div>

                    <div class='flex flex-wrap mt-2'>
                        <ul class='flex flex-row mb-2 gap-x-2 flex-wrap'>
                            {project.tags.map((tag) => (
                                <span
                                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 items-center my-1`}
                                >
                                    <tag.icon class={`size-4 ${tag.classIcon}`} />
                                    {tag.name}
                                </span>
                            ))}
                        </ul>
                    </div>
                    <footer class='flex items-end justify-start mt-4 gap-x-4'>
                        {project.github && (
                            <LinkButton href={project.github}>
                                <GitHub class='size-6' />
                                Code
                            </LinkButton>
                        )}
                        {project.link && (
                            <LinkButton href={project.link}>
                                <Link class='size-4' />
                                Preview
                            </LinkButton>
                        )}
                    </footer>
                </div>
            </article>
        ))
    }
</div>
